body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #212121;
}

.inputfield {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 50px;
    background-color: #303030;
    border: 1px solid #606060;
    border-radius: 100px;
}

.inputbox {
    width: 90%;
    padding: 1px;
    background-color: #303030;
    border: none;
    outline: none;
    color: #ffffff;
    caret-color: white;
    font-size: 16px;
}

.inputbox::placeholder {
    color: #afafaf;
}

.fileupload {
    background-color: #303030;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 30px;
    margin: 9px;
    border-radius: 100px;
}

.fileupload:hover {
    background-color: #696969;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 30px;
    margin: 9px;
    border-radius: 100px;
}

#hoverText {
    display: none;
    cursor: default;
}

#hoverTextVoice {
    display: none;
    cursor: default;
}

#voicehover {
    display: none;
    cursor: default;
}

.hoverTextStyle {
    border: 2px solid #000000;
    border-radius: 30px;
    padding: 5px;
    font-family: sans-serif;
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    left: 415px;
    top: 410px;
    cursor: default;
}

.hoverVoiceStyle {
    border: 2px solid #000000;
    border-radius: 30px;
    padding: 5px;
    font-family: sans-serif;
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    left: 972px;
    top: 410px;
    cursor: default;
}

.hoverMicrophoneStyle {
    border: 2px solid #000000;
    border-radius: 30px;
    padding: 5px;
    font-family: sans-serif;
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    left: 958px;
    top: 410px;
    cursor: default;
}

.usevoicemode {
    background-color: #ffffff;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 30px;
    margin: 9px;
    border-radius: 100px;
}

.usevoicemode:hover {
    background-color: #a5a5a5;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 30px;
    margin: 9px;
    border-radius: 100px;
}

.voice {
    background-color: #303030;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 30px;
    margin: 9px;
    margin-right: 3px;
    border-radius: 100px;
}

.voice:hover {
    background-color: #535353;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 30px;
    margin: 9px;
    margin-right: 3px;
    border-radius: 100px;
}


#uploadmessage {
    background-color: #ffffff;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 30px;
    margin: 9px;
    border-radius: 100px;
}

#uploadmessage:hover {
    background-color: #ffffff;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 30px;
    margin: 9px;
    border-radius: 100px;
    cursor: pointer;
}

#disable {
    display: none;
}

.sidebar {
    background-color: #212121;
    border: 1px, solid, #2C2C2C;
}

.chatgpticonleft {
    position: absolute;
    left: 10px;
    top: 10px;
    margin: 5px;
}

.newchaticonleft {
    position: absolute;
    left: 10px;
    top: 66px;
    margin: 5px;
}

.searchiconleft {
    position: absolute;
    left: 10px;
    top: 106px;
    margin: 5px;
}

.imageiconleft {
    position: absolute;
    left: 10px;
    top: 146px;
    margin: 5px;
}

.upgradeiconleft {
    position: absolute;
    left: 10px;
    top: 706px;
    margin: 5px;
}

.n1 {
    border: 2px solid #000000;
    border-radius: 30px;
    padding: 5px;
    font-family: sans-serif;
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    left: 55px;
    top: 58px;
    cursor: default;
}

.n2 {
    border: 2px solid #000000;
    border-radius: 30px;
    padding: 5px;
    font-family: sans-serif;
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    left: 55px;
    top: 98px;
    cursor: default;
}

.n3 {
    border: 2px solid #000000;
    border-radius: 30px;
    padding: 5px;
    font-family: sans-serif;
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    left: 55px;
    top: 138px;
    cursor: default;
}

#chatside {
    display: none;
    cursor: default;
}

#searchside {
    display: none;
    cursor: default;
}

#imageside {
    display: none;
    cursor: default;
}

.opensidebaricon {
    position: absolute;
    left: 15px;
    top: 15px;
    cursor: default;
}

#sidebarchatgpt {
    display: block;
    cursor: default;
}

#sidebartoggle {
    display: none;
    cursor: default;
}

.n4 {
    border: 2px solid #000000;
    border-radius: 30px;
    padding: 5px;
    font-family: sans-serif;
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    left: 55px;
    top: 3px;
    cursor: default;
}

#sidebartoggletext {
    display: none;
    cursor: default;
}

#bar {
    display: none;
    cursor: default;
}

.bar {
    background-color: #181818;
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
}

.barchatgpt {
    position: absolute;
    left: 10px;
    top: 10px;
    margin: 5px;
}

.barsidebar {
    position: absolute;
    left: 200px;
    top: 10px;
    margin: 5px;
}
